.values {
    padding-bottom: 0px;
}

.values__title {
    color: var(--font-color-h);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

.values__text {
    color: var(--font-color-p);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.values__card {
    margin-bottom: 30px;
}

.values__image {
    height: 120px;
    background-color: var(--bg-secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 5px;
}

.values__icon {
    display: block;
    width: 70px;
    height: 70px;
    margin: 0 auto;
}


@media screen and (min-width: 768px) {
    .values__title{
        text-align: left;
    }
    .values__list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    .values__card {
        flex-basis: calc((100% - 30px)/2);
        margin-bottom: 0px;
    }
}

@media screen and (min-width: 1200px) {
    .values__list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    .values__card {
        flex-basis: calc((100% - 90px)/4);
    }
}